* { margin: 0; padding: 0; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body { font-family: 'Montserrat', sans-serif; color: #333333; font-size: 1em; }

section > .container { padding-top: 90px; padding-bottom: 90px; }

.headline { font-family: 'Slabo 27px', serif; font-size: 2.5em; letter-spacing: 1px; padding-bottom: 10px; color: #000; }

.paragraph { font-size: 1em; }

.header { height: 100vh; background: url("../images/back.png"); background-size: cover; background-repeat: no-repeat; background-position: 50% 75%; transition: background-position 5ms ease; }

.header .logo { position: absolute; top: 14px; left: 12px; color: #545454; }

.header .logo i.fas { font-size: 1.2em; }

.header nav { background-color: #fff; padding-bottom: 0.5rem; height: 50px; position: fixed; width: 100%; z-index: 10; }

.header nav .nav-links { text-align: center; }

.header nav .nav-links .nav-link { display: inline-block; padding: 0.6rem 0 0.3rem 0; margin: 0 2rem 0 2rem; color: #333333; font-size: 1.2em; position: relative; }

.header nav .nav-links .nav-link:before { content: ""; position: absolute; width: 100%; height: 1px; bottom: 0; left: 0; background-color: #333333; visibility: hidden; transform: scaleX(0); transition: all 0.3s ease-in-out 0s; }

.header nav .nav-links .nav-link:hover:before { visibility: visible; transform: scaleX(1); }

.header nav .nav-icon { display: none; width: 40px; height: 45px; position: relative; margin: 10px 20px 0 0; transform: rotate(0deg); transition: .5s ease-in-out; cursor: pointer; }

.header nav .nav-icon span { display: block; position: absolute; height: 3px; width: 100%; background: #333333; border-radius: 9px; opacity: 1; left: 0; transform: rotate(0deg); transition: .2s ease-in-out; }

.header nav .nav-icon span:nth-child(1) { top: 0px; }

.header nav .nav-icon span:nth-child(2), .header nav .nav-icon span:nth-child(3) { top: 12px; }

.header nav .nav-icon span:nth-child(4) { top: 24px; }

.header nav .nav-icon.open span:nth-child(1) { top: 12px; width: 0%; left: 50%; }

.header nav .nav-icon.open span:nth-child(2) { transform: rotate(45deg); }

.header nav .nav-icon.open span:nth-child(3) { transform: rotate(-45deg); }

.header nav .nav-icon.open span:nth-child(4) { top: 12px; width: 0%; left: 50%; }

.header .introduction { height: 75vh; color: #000; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.header .introduction .introduction-box { text-align: center; font-family: 'Slabo 27px', serif; padding: 40px; transition: all .5s ease-out; }

.header .introduction .introduction-box h1 { font-size: 3em; margin-bottom: 0; line-height: normal; }

.header .introduction .introduction-box h2 { font-size: 2em; }

.header .introduction .introduction-box h2.anim-typewriter { overflow: hidden; border-right: 3px solid #0a6f73; padding-right: 2px; white-space: nowrap; margin: 0 auto; letter-spacing: 1px; animation: typing 3.5s steps(30, end), blick-caret 0.8s step-end infinite; }

.header .introduction .introduction-shadow { box-shadow: 2px 5px 20px #cecccc; }

@keyframes typing { from { width: 0; }
  to { width: 100%; } }

@keyframes blick-caret { from, to { border-color: transparent; }
  50% { border-color: #0a6f73; } }

.arrow-box { display: block; bottom: 20px; width: 100%; position: absolute; animation: down 2.5s infinite ease; }

.arrow-box .arrow { display: block; width: 20px; height: 20px; margin: 15px auto; border-right: 1px solid white; border-bottom: 1px solid white; transform: rotate(45deg); }

@keyframes down { from { transform: translateY(0);
    opacity: 0.5; }
  50% { transform: translateY(10px);
    opacity: 1; }
  to { transform: translateY(0);
    opacity: 0.5; } }

.about .paragraph span { font-weight: bold; }

.about .cv { display: block; width: 100px; text-align: center; text-decoration: none; font-size: 1.3em; color: #000; margin-top: 30px; letter-spacing: 1px; border: 1px solid #383838; transition: .5s; }

.about .cv:hover { background-color: #0c0c0c; color: #fff; }

.about .photo-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.about .photo-container img { height: 250px; border-radius: 50%; }

.skills { background-color: #F6F6F6; text-align: center; }

.skills .skills-desc { margin-bottom: 3rem; }

.skills .technologies .skill-box { height: 6.5rem; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.skills .technologies img { width: 80px; animation: pulse 4s infinite ease; }

@keyframes pulse { from { transform: scale(1); }
  50% { transform: scale(0.8); }
  to { transform: scale(1); } }

.portfolio { background-color: #fff; text-align: center; }

.portfolio i.fa-github { font-size: 8em; padding-bottom: 30px; color: #24292E; transition: .5s; }

.portfolio i.fa-github:hover { transform: scale(0.8); }

.portfolio h3.headline { margin-bottom: 50px; }

.portfolio p.portfolio-info { display: block; }

.portfolio .project-box { box-shadow: 2px 5px 20px #cecccc; margin-bottom: 60px; background-color: #fff; border-left: 20px solid #fff; border-right: 20px solid #fff; border-top: 20px solid #fff; }

.portfolio .project-box .img-box { position: relative; }

.portfolio .project-box .img-box:hover .layer { opacity: 1; }

.portfolio .project-box .img-box img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; border: 1px solid #d6d1d1; }

.portfolio .project-box .img-box .layer { position: absolute; width: 100%; height: 100%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; background-color: rgba(0, 0, 0, 0.8); color: #fff; transition: .5s; opacity: 0; }

.portfolio .project-box .img-box .layer a { height: 40px; width: 40px; display: inline-block; text-align: center; line-height: 44px; margin: 0 1rem; cursor: pointer; }

.portfolio .project-box .img-box .layer a:hover i.fas { transform: scale(1.5); }

.portfolio .project-box .img-box .layer a i.fas { font-size: 2.5em; color: #fff; transition: .5s; }

.portfolio .project-box-touch-device .img-box .layer { -ms-flex-pack: end; justify-content: flex-end; -ms-flex-align: end; align-items: flex-end; background-color: transparent; opacity: 1; }

.portfolio .project-box-touch-device .img-box .layer .project-icons { padding: 5px; }

.portfolio .project-box-touch-device .img-box .layer .project-icons a { background-color: rgba(0, 0, 0, 0.8); border-radius: 8px; margin: 0 0.3em; }

.portfolio .project-box-touch-device .img-box .layer .project-icons a:hover i.fas { transform: none; }

.portfolio .project-box-touch-device .img-box .layer .project-icons a i.fas { font-size: 1.5em; }

.portfolio .project-info { padding-bottom: 20px; }

.portfolio .project-info h5 { font-size: 1.4em; padding: 1rem 0; margin: 0; }

.portfolio .project-info .desc { font-size: 1em; margin: 0; }

.portfolio .project-info .tech-box { display: inline-block; font-size: 1em; padding: 0 .4rem; margin: 0 .5rem 1.5rem .5rem; border: 1px solid #333333; background-color: inherit; }

.contact-footer { background: url("../images/back.png"); background-size: cover; background-repeat: no-repeat; background-position: 50% 75%; height: 100vh; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.contact-footer .contact { text-align: center; height: 70vh; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.contact-footer .contact p.email { color: #ea7c3c; font-weight: bold; font-size: 1.3em; }

.contact-footer .contact h3.headline { padding-bottom: 40px; }

.contact-footer .contact a { text-decoration: none; max-width: 150px; max-height: 150px; width: 15vw; height: 15vw; margin: 0 20px; background-color: white; box-shadow: 2px 5px 20px #cecccc; display: -ms-inline-flexbox; display: inline-flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; transition: .5s; }

.contact-footer .contact a:hover { transform: scale(1.1); box-shadow: 2px 5px 20px #8e8e8e; }

.contact-footer .contact a i { font-size: 3em; }

.contact-footer .contact a i.fa-linkedin { color: #0077B5; }

.contact-footer .contact a i.fa-at { color: #ea7c3c; }

.contact-footer .contact a i.fa-github { color: #24292E; }

.contact-footer footer { width: 100%; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

.contact-footer footer p { font-size: 1em; color: #F6F6F6; padding: 0 15px; margin-bottom: 0.5rem; }

@media (max-width: 992px) { .header .introduction .introduction-box { padding: 25px; }
  .header .introduction .introduction-box h1 { font-size: 2.5em; }
  .header .introduction .introduction-box h2 { font-size: 1.5em; }
  .portfolio i.fa-github:hover { transform: none; } }

@media (max-width: 768px) { .header nav { display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; }
  .header nav .nav-icon { display: block; z-index: 2; }
  .header nav .nav-links { display: none; }
  .header nav .show-links { display: block; position: absolute; z-index: 1; padding-top: 8vh; width: 100%; height: 100vh; background-image: linear-gradient(#ffffff, #ffffff, rgba(255, 255, 255, 0.2)); background-color: rgba(255, 255, 255, 0.6); animation: smooth .5s ease-in-out; }
  .header nav .show-links .nav-link { display: block; padding: 17px 0; }
  .header nav .show-links .nav-link:hover:before { visibility: hidden; }
  .header .introduction .hide { opacity: 0; }
  .arrow-box.hide { display: none; }
  .about { text-align: center; }
  .about .cv { margin: 40px auto 40px auto; }
  .about .cv:hover { background-color: inherit; color: #000; }
  .skills .technologies .col { padding: 0; }
  .skills .technologies .skill-box { height: 5rem; }
  .skills .technologies img { width: 60px; }
  .portfolio { padding-bottom: 5px; }
  .portfolio .fa-github { display: none; }
  .portfolio p.portfolio-info { display: none; } }

@keyframes smooth { from { opacity: 0; }
  to { opacity: 1; } }

@media (max-width: 576px) { .paragraph { font-size: 0.9em; }
  .header .introduction .introduction-box h1 { font-size: 2em; }
  .header .introduction .introduction-box h2 { font-size: 1.2em; }
  .portfolio .project-info h5 { font-size: 1.1em; }
  .portfolio .project-info .desc { display: none; }
  .portfolio .project-info .tech-box { font-size: 0.8em; margin: 0 0.3rem 0 0.3rem; }
  .contact-footer .contact a { width: 20vw; height: 20vw; margin: 0 5px; }
  .contact-footer .contact a i { font-size: 2.5em; }
  .contact-footer footer { -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }
  .contact-footer footer p { margin-bottom: 0.3rem; font-size: 0.8em; } }
