// GLOBAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 1em;
}

section>.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.border-box {
  border: 1px solid #333333;
}

.headline {
  font-family: 'Slabo 27px', serif;
  font-size: 2.5em;
  letter-spacing: 1px;
  padding-bottom: 10px;
  color: #000;
}

.paragraph {
  font-size: 1em;
}

// HEADER

.header {
  min-height: 100vh;
  background: url('../images/back.jpg');
  background-size: cover;
  background-position: 50% 40%;
  transition: all 0.5s ease-in-out;
  .navbar-light {
    background-color: #fff;
    .navbar-nav .nav-link {
      color: #333333;
      font-size: 1.2em;
      margin: 5px 35px 5px 35px;
      &:hover {
        border-bottom: 1px solid #333333;
      }
    }
    .navbar-collapse {
      text-align: center;
    }
  }
}

.introduction {
  height: 60vh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  .introduction-box {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    padding: 40px;
    h1 {
      font-size: 3em;
    }
  }
}


// ABOUT

.about {
  .border-box {
    padding: 1rem;
  }
  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 250px;
      border-radius: 50%;
    }
  }
}


// SKILLS

.skills {
  background-color: #f6f6f6;
  text-align: center;
  .skills-desc {
    margin-bottom: 3rem;
  }
  .technologies {
    .skill-box {
      height: 6.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 80px;
    }
  }
}

// PORTFOLIO

.portfolio {
  background-color: #fff;
  padding-bottom: 60px;
  text-align: center;
  h3.headline {
    margin-bottom: 50px;
  }
  .project-box {
    box-shadow: 0 0 5px #cecccc;
    margin-bottom: 60px;
    background-color: #fff;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    .img-box {
      position: relative;
      &:hover {
        .layer {
          opacity: 1;
        }
      }
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .layer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        transition: .5s;
        opacity: 0;
        a {
          height: 40px;
          width: 40px;
          display: inline-block;
          text-align: center;
          line-height: 44px;
          margin: 0 1rem;
          cursor: pointer;
          &:hover {
            i.fas {
              transform: scale(1.5);
            }
          }
          i.fas {
            font-size: 2.5em;
            color: #fff;
            transition: .5s;
          }
        }
      }
    }
  }
  .project-info {
    h5 {
      padding: 1rem 0;
      margin: 0;
    }
    .desc {
      padding: 1rem 0;
      margin: 0;
    }
    .tech-box {
      display: inline-block;
      padding: 0 .4rem;
      margin: 0 .5rem .5rem .5rem;
      border: 1px solid #333333;
      background-color: inherit;
    }
  }
}

// MEDIA QUERIES

@media (max-width: 992px) {
  .portfolio {
    .empty {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    transition: all 0.5s ease-in-out;
    background-position: 50% 15%;
  }

  .about {
    .border-box {
      border: none;
    }
  }

  .skills {
    .technologies {
      .col {
        padding: 0;
      }
      .skill-box {
        height: 5rem;
      }
      img {
        width: 60px;
      }
    }
  }
}

@media (max-width: 576px) {

}
