// COLORS

$background-color: #F6F6F6;
$main-color: #333333;

// GLOBAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $main-color;
  font-size: 1em;
}

section>.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.box-shadow {
  box-shadow: 0 8px 20px #cecccc;
}

.headline {
  font-family: 'Slabo 27px', serif;
  font-size: 2.5em;
  letter-spacing: 1px;
  padding-bottom: 10px;
  color: #000;
}

.paragraph {
  font-size: 1em;
}

// HEADER

.header {
  min-height: 100vh;
  background: url('../images/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 40%;
  transition: all 0.5s ease-in-out;
  .navbar-light {
    background-color: #fff;
    .navbar-nav .nav-link {
      color: $main-color;
      font-size: 1.2em;
      margin: 5px 35px 5px 35px;
      &:hover {
        border-bottom: 1px solid $main-color;
      }
    }
    .navbar-collapse {
      text-align: center;
    }
  }
  .introduction {
    height: 60vh;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    .introduction-box {
      text-align: center;
      font-family: 'Slabo 27px', serif;
      padding: 40px;
      h1 {
        font-size: 3em;
      }
    }
  }
}


// ABOUT

.about {
  .border-box {
    padding: 1rem;
  }
  .cv {
    text-decoration: none;
    font-size: 1.5em;
    color: $main-color;
    // font-weight: bold;
    letter-spacing: 1px;
    &:hover {
      color: #ea7c3c;
    }
  }
  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 250px;
      border-radius: 50%;
    }
  }
}


// SKILLS

.skills {
  background-color: $background-color;
  text-align: center;
  .skills-desc {
    margin-bottom: 3rem;
  }
  .technologies {
    .skill-box {
      height: 6.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 80px;
    }
  }
}

// PORTFOLIO

.portfolio {
  background-color: #fff;
  padding-bottom: 60px;
  text-align: center;
  i.fa-github {
    font-size: 8em;
    padding-bottom: 30px;
    color: #24292E;
    transition: .5s;
    &:hover {
      transform: scale(0.8);
    }
  }
  h3.headline {
    margin-bottom: 50px;
  }
  p.portfolio-info {
    display: block;
  }
  .project-box {
    // box-shadow: 0 0 5px #cecccc;
    box-shadow: 0 8px 20px #cecccc;
    margin-bottom: 60px;
    background-color: #fff;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    .img-box {
      position: relative;
      &:hover {
        .layer {
          opacity: 1;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .layer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        transition: .5s;
        opacity: 0;
        a {
          height: 40px;
          width: 40px;
          display: inline-block;
          text-align: center;
          line-height: 44px;
          margin: 0 1rem;
          cursor: pointer;
          &:hover {
            i.fas {
              transform: scale(1.5);
            }
          }
          i.fas {
            font-size: 2.5em;
            color: #fff;
            transition: .5s;
          }
        }
      }
    }
  }
  .project-info {
    h5 {
      padding: 1rem 0;
      margin: 0;
    }
    .desc {
      padding: 1rem 0;
      margin: 0;
    }
    .tech-box {
      display: inline-block;
      padding: 0 .4rem;
      margin: 0 .5rem .5rem .5rem;
      border: 1px solid $main-color;
      background-color: inherit;
    }
  }
}


// CONTACT - FOOTER

.contact-footer {
  background: url(../images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 45%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .contact {
    text-align: center;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    h3.headline {
      padding-bottom: 40px;
    }
    a {
      text-decoration: none;
      max-width: 150px;
      max-height: 150px;
      width: 10vw;
      height: 10vw;
      margin: 0 20px;
      background-color: white;
      box-shadow: 0 8px 20px #cecccc;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 3em;
        &.fa-linkedin {
          color: #0077B5;
        }
        &.fa-at {
          color: #ea7c3c;
        }
        &.fa-github {
          color: #24292E;
        }
      }
    }

  }
  footer p {
    color: $background-color;
  }
}


// MEDIA QUERIES

@media (max-width: 992px) {
  .contact {
    a {
      width: 15vw;
      height: 15vw;
    }
  }
}

@media (max-width: 768px) {
  .header {
    background-position: 50% 25%;
  }

  .about {
    .border-box {
      border: none;
    }
  }

  .skills {
    .technologies {
      .col {
        padding: 0;
      }
      .skill-box {
        height: 5rem;
      }
      img {
        width: 60px;
      }
    }
  }
  .portfolio {
    p.portfolio-info {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .header {
    background-position: 50% 25%;
  }
  .contact {
    a {
      width: 20vw;
      height: 20vw;
      margin: 0 10px;
      i {
        font-size: 2.5em;
      }
    }
  }
}
