// GLOBAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 1em;
}

section>.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.border-box {
  border: 1px solid #333333;
}

.headline {
  font-family: 'Slabo 27px', serif;
  font-size: 2.5em;
  letter-spacing: 1px;
  padding-bottom: 10px;
  color: #000;
}

.paragraph {
  font-size: 1em;
}


// HEADER

.header {
  margin-bottom: 60px;
  min-height: 100vh;
  background: url('../images/back.jpg');
  background-size: cover;
  background-position: 50% 40%;
  transition: all 0.5s ease-in-out;
  .navbar-light {
    background-color: #fff;
    .navbar-nav .nav-link {
      color: #333333;
      font-size: 1.2em;
      margin: 5px 35px 5px 35px;
      &:hover {
        border-bottom: 1px solid #333333;
      }
    }
    .navbar-collapse {
      text-align: center;
    }
  }
}

.introduction {
  height: 60vh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  .introduction-box {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    padding: 40px;
    h1 {
      font-size: 3em;
    }
  }
}


// ABOUT

.about {
  .border-box {
    padding: 1rem;
  }
  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 250px;
      border-radius: 50%;
    }
  }
}


// SKILLS

.skills {
  background-color: #F6F6F6;
  text-align: center;
  .course {
    margin-bottom: 3rem;
  }
  .technologies {
    .skill-box {
      height: 5.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      i.fab {
        font-size: 3.5em;
      }
      h5 {
        font-weight: bold;
        font-size: 1.8em;
        margin: 0;
        &.icon-size {
          font-size: 3em;
          margin: 0;
        }
      }
      p {
        font-size: 1em;
        margin-bottom: 0;
      }
    }
  }
}

// PORTFOLIO

.portfolio {
  text-align: center;
  h4 {
    margin-top: 30px;
  }
  .img-box {
    position: relative;
    &:hover {
      .layer {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    .layer {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      transition: .5s;
      opacity: 0;
      a {
        height: 40px;
        width: 40px;
        display: inline-block;
        text-align: center;
        line-height: 44px;
        background-color: #000;
        margin: 0 1rem 1rem 1rem;
        transition: .5s;
        cursor: pointer;
        &:hover {
          background-color: #cc5e37;
        }
        i.fas {
          font-size: 1.5em;
          color: #fff;
        }
      }
      .desc {
        margin-bottom: 2rem;
        padding: 0 1rem 0 1rem;
      }
      .tech-box {
        display: inline;
        background-color: #cc5e37;
        padding: .5rem;
        margin: 1rem .5rem .5rem .5rem;
      }
    }
  }
}

// MEDIA QUERIES

@media (max-width: 992px) {
  .skills {
    .technologies {
      .skill-box {
        i.fab {
          font-size: 3em;
        }
        h5 {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    transition: all 0.5s ease-in-out;
    background-position: 50% 15%;
  }

  .about {
    .border-box {
      border: none;
    }
  }

  .skills {
    .technologies {
      // border: 5px solid #fff;
      text-align: left;
      .col-12 {
        padding: 0;
      }
      .col-colored {
        background-color: #fff;
        border-radius: 10px;
      }
      .skill-box {
        display: inline-flex;
        flex-wrap: wrap;
        width: 19%;
        text-align: center;
        margin: 5px 0 5px 0;
        h5 {
          font-size: 1.3em;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .skills {
    .technologies {
      .col-12 {
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      .skill-box {
        height: 3.5rem;
        width: 50%;
        i.fab {
          display: none;
        }
        p {
          font-size: 1em;
          font-weight: bold;
        }
        h5 {
          font-size: 1em;
          &.icon-size {
            display: none;
          }
        }
      }
    }
  }
}
